<div class="smallInfo">

  <div class="userInfo">
    <img
      [src]="user.photoURL ? user.photoURL : 'assets/images/acount.png'"
      alt="user Avatar"
      class="userAvatar">
    <div class="columnFlex">
      <p>{{user.name}}</p>
      <p><span class="material-icons">location_on</span> {{user.city ? user.city : 'Mars'}}</p>
    </div>
  </div>

  <div class="columnFlex">
    <button
      [routerLink]="['/client/userPage', user.localId]"
      mat-raised-button
    >View Profile
    </button>
    <button
      (click)="subscribeTo(user.localId)"
      *ngIf="!subscribed; else unsubs"
      color="primary"
      mat-raised-button
    >Subscribe
    </button>
    <ng-template #unsubs>
      <button
        (click)="unsubscribeFrom(user.localId)"
        color="warn"
        mat-raised-button
      >Unsubscribe
      </button>
    </ng-template>

  </div>

</div>
