
<div class="postHeader">
  <h1>{{post.title}}</h1>
  <button
    *ngIf="post.postOwner === current.name"
    mat-icon-button
    [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>


<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="editPost(post)"
  >
    <span class="material-icons menuItem">create</span>
    Edit</button>
  <button
    mat-menu-item
    (click)="deletePost(post.fbId)"
  >
    <span class="material-icons">delete</span>Delete</button>
</mat-menu>

<quill-view-html [content]="post.body"></quill-view-html>
<div class="postInfo">
  <p>{{post.postOwner}}</p>
  <p>{{post.date | date:'short'}}</p>
</div>
<hr>
