.main{
  background: url("/assets/images/bg-light.jpg") center / cover no-repeat fixed;
  width: 100%;
  min-height: calc(100vh - 70px);

  .userContainer{
    max-width: 1200px;
    margin: 14px auto;
  }
}

.header{
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-color: whitesmoke;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);

  .logo{
    max-height: 60px;
    margin-left: 90px;
  }

  .userData{
    display: flex;
    justify-content: space-around;
    align-items: center;

    div{
      margin-right: 8px;
    }
  }

  .profile{
    margin-bottom: 10px;
    margin-right: 10px;
    .userProfile{
      max-width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  button{
    font-size: 50px;
  }
}

.sideContainer {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);

  .sideItem{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #262628;
    font-weight: bold;
    margin: 25px 15px;
    font-size: 1rem;

    span{
      padding-right: 4px;
    }
  }

  .active{
    color: #e3e3e3;
  }
}
