<header class="header">
  <button
    (click)="sidenav.toggle()"
    class="menu"
    mat-icon-button
  ><span class="material-icons">menu</span></button>
  <img
    alt="hiking"
    class="logo"
    src="../../../assets/images/hiking.png">
  <div>
    <div class="userData">
      <div>{{current.name}}</div>
      <button
        [mat-menu-trigger-for]="profile"
        class="profile"
        mat-icon-button>
        <img
          [src]="current.photoURL ? current.photoURL : 'assets/images/acount.png'"
          alt="user profile"
          class="userProfile"></button>
    </div>
    <mat-menu #profile="matMenu">
      <button [routerLink]="['profile']" mat-menu-item>User Profile</button>
      <button (click)="logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</header>

<mat-sidenav-container class="sideContainer">
  <mat-sidenav
    #sidenav
    [fixedInViewport]="true"
    [fixedTopGap]="70"
    class="sidenav"
    mode="over">
    <a [routerLink]="['/client/myPage']"
       class="sideItem"
       routerLinkActive="active"><span class="material-icons">web</span> My Page</a>
    <a [routerLink]="['/client/homePage']"
       class="sideItem"
       routerLinkActive="active"><span class="material-icons">home</span> Home Page</a>
    <a [routerLink]="['/client/profile']"
       class="sideItem"
       routerLinkActive="active"><span class="material-icons">account_circle</span> My Profile</a>
    <a [routerLink]="['/client/subManager']"
       class="sideItem"
       routerLinkActive="active"><span class="material-icons">bookmarks</span> Subscriptions</a>
    <a [routerLink]="['/client/settings']"
       class="sideItem"
       routerLinkActive="active"><span class="material-icons">settings</span> Settings</a>
  </mat-sidenav>

  <mat-sidenav-content class="main">
    <section class="userContainer">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
