<div class="contentBody">
  <mat-card>
    <div class="headerText">
      <img alt="hiking logo" src="../../../../../assets/images/hiking.png">
      <mat-card-title>Login</mat-card-title>
    </div>
    <mat-card-content>
      <form
        (ngSubmit)="submit()"
        [formGroup]="form">
        <mat-form-field appearance="fill">
          <input
            class="padLeft-2"
            formControlName="email"
            matInput
            placeholder="example@example.com"
            required>
          <span class="material-icons iconPosition">face</span>
        </mat-form-field>

        <div
          *ngIf="form.get('email').touched && form.get('email').invalid"
          class="validation">
          <small
            [appValidator]="form.get('email').errors.required"
            class="fieldValidation"
            message="Please fill the filed"></small>
          <small
            [appValidator]="form.get('email').errors.email"
            class="fieldValidation"
            message="Please enter valid email address"></small>
        </div>

        <mat-form-field appearance="fill">
          <input
            [type]="hide ? 'password' : 'text'"
            class="padLeft-2"
            formControlName="password"
            matInput
            required>
          <button
            (click)="hide = !hide"
            mat-icon-button
            matSuffix>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <span class="material-icons iconPosition">lock_open</span>
        </mat-form-field>

        <div
          *ngIf="form.get('password').touched && form.get('password').invalid"
          class="validation">
          <small
            [appValidator]="form.get('password').errors.required"
            class="fieldValidation"
            message="Please fill the filed"></small>
          <small
            [appValidator]="form.get('password').errors.minlength"
            class="fieldValidation"
            message="Password should be at least 6 characters"></small>
        </div>

        <button
          [disabled]="form.invalid || submitted"
          mat-raised-button
          type="submit"
        >Login
        </button>

        <div class="signUp">
          <p>Not a member? <a [routerLink]="'/signUp'">Sign up now</a></p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
