<div class="userProfile">
  <h1 class="title">User Profile</h1>
  <mat-tab-group backgroundColor="primary" mat-align-tabs="start">
    <mat-tab label="Main Information">
      <div class="tabContent">
        <form [formGroup]="mainInfo">

          <div class="field">
            <label>First Name</label>
            <mat-form-field>
              <input
                formControlName="firstName"
                matInput
                required>
            </mat-form-field>
          </div>
          <div class="field">
            <label>Last Name</label>
            <mat-form-field>
              <input
                formControlName="lastName"
                matInput
                required>
            </mat-form-field>
          </div>
          <div class="field">
            <label>Your Country</label>
            <mat-form-field appearance="fill">
              <mat-select formControlName="country">
                <mat-option
                  *ngFor="let country of countries"
                  [value]="country.value">
                  {{country.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field">
            <label>City</label>
            <mat-form-field>
              <input
                formControlName="city"
                matInput>
            </mat-form-field>
          </div>
          <div class="field">
            <label>Address</label>
            <mat-form-field>
              <input
                formControlName="address"
                matInput>
            </mat-form-field>
          </div>
          <div class="field">
            <label>Date of Birth</label>
            <mat-form-field appearance="fill">
              <input
                [matDatepicker]="picker"
                formControlName="date"
                matInput>
              <mat-datepicker-toggle
                [for]="picker"
                matSuffix
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row">
            <button
              (click)="activateEdit()"
              color="primary"
              mat-raised-button
              type="button"
            >{{buttonText}}</button>
            <button
              (click)="updateUserMainInfo()"
              [disabled]="mainInfo.invalid || editMode"
              color="accent"
              mat-raised-button
              type="submit"
            >Save
            </button>
          </div>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Cover and Main photo">
      <div class="imagePage">
        <div class="mainImage">
          <h1>Main Photo</h1>
          <div class="imagePreview">
            <img (click)="mainUploader.click()" [src]="profilePhoto ? profilePhoto : 'assets/images/acount.png'"
                 alt="preview of image">
          </div>
          <input
            #mainUploader
            (change)="onFileSelect($event)"
            accept="image/*"
            id="mainFile"
            style="display: none"
            type="file">
          <button
            (click)="mainUploader.click()"
            color="primary"
            mat-raised-button
          >Choose New
          </button>
          <button
            (click)="updateUserPhoto(true)"
            [disabled]="!mainFileToUpload"
            color="primary"
            mat-raised-button
          >Upload New
          </button>
        </div>

        <div class="bgImage">
          <h1>Cover Photo</h1>
          <div class="imagePreview">
            <img (click)="secondUploader.click()" [src]="bgPhoto ? bgPhoto : 'assets/images/acount.png'"
                 alt="preview of image">
          </div>
          <input
            #secondUploader
            (change)="onFileSelect($event)"
            accept="image/*"
            id="secondFile"
            style="display: none"
            type="file">
          <button
            (click)="secondUploader.click()"
            color="primary"
            mat-raised-button
          >Choose New
          </button>
          <button
            (click)="updateUserPhoto(false)"
            [disabled]="!bgFileToUpload"
            color="primary"
            mat-raised-button
          >Upload New
          </button>
        </div>

      </div>
    </mat-tab>

    <mat-tab label="About me">
      <form [formGroup]="aboutAuthor" class="quill">
        <quill-editor formControlName="aboutInfo"></quill-editor>
        <button
          (click)="updateAboutUserInfo()"
          class="saveAbout"
          color="primary"
          mat-raised-button
        >Save
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>

