<mat-tab-group>
  <mat-tab label="All Users">

    <mat-form-field
      class="searchField"
      appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput #allUsersSearch>
      <span
        matPrefix
        class="material-icons">search</span>
    </mat-form-field>

    <app-small-user-section
      *ngFor="let user of users | search:allUsersSearch.value"
      [user]="user"
      [subscribed]="isSubscribed(user)"
      (onSubscribe)="subscribe($event)"
      (onUnsubscribe)="unsubscribe($event)"
    >
    </app-small-user-section>

  </mat-tab>
  <mat-tab label="My Subscriptions">
    <mat-form-field
      class="searchField"
      appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput #subscSearch>
      <span
        matPrefix
        class="material-icons">search</span>
    </mat-form-field>

    <app-small-user-section
      *ngFor="let user of mySubscriptions | search:subscSearch.value"
      [user]="user"
      (onUnsubscribe)="unsubscribe($event)"
    >
    </app-small-user-section>
  </mat-tab>
</mat-tab-group>
