<mat-tab-group>
  <mat-tab label="All Users">

    <mat-form-field
      appearance="fill"
      class="searchField">
      <mat-label>Input</mat-label>
      <input #allUsersSearch matInput>
      <span
        class="material-icons"
        matPrefix>search</span>
    </mat-form-field>

    <app-small-user-section
      (subscribe)="subscribe($event)"
      (unsubscribe)="unsubscribe($event)"
      *ngFor="let user of users | FilterPipe:allUsersSearch.value"
      [subscribed]="isSubscribed(user)"
      [user]="user"
    >
    </app-small-user-section>

  </mat-tab>
  <mat-tab label="My Subscriptions">
    <mat-form-field
      appearance="fill"
      class="searchField">
      <mat-label>Input</mat-label>
      <input #subscSearch matInput>
      <span
        class="material-icons"
        matPrefix>search</span>
    </mat-form-field>

    <app-small-user-section
      (unsubscribe)="unsubscribe($event)"
      *ngFor="let user of mySubscriptions | FilterPipe:subscSearch.value"
      [user]="user"
    >
    </app-small-user-section>
  </mat-tab>
</mat-tab-group>
