<div class="mountains">

  <button
    [routerLink]="['/']"
    class="loginBtn"
    mat-raised-button
  >Login page
  </button>

  <mat-horizontal-stepper #stepper>
    <mat-step
      [stepControl]="firstFormGroup"
      errorMessage="Name is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your main info</ng-template>

        <div class="row">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input
              formControlName="firstName"
              matInput
              placeholder="First name"
              required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input
              formControlName="lastName"
              matInput
              placeholder="Last name"
              required>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Your Country</mat-label>
            <mat-select formControlName="country">
              <mat-option
                *ngFor="let country of countries"
                [value]="country.value">
                {{country.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input
              formControlName="city"
              matInput
              placeholder="City">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input
              [matDatepicker]="picker"
              formControlName="date"
              matInput>
            <mat-datepicker-toggle
              [for]="picker"
              matSuffix
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <button mat-button matStepperNext>Next</button>
      </form>
    </mat-step>

    <mat-step
      [stepControl]="secondFormGroup"
      errorMessage="Login Data is required.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your login data</ng-template>

        <div class="row">
          <mat-form-field appearance="fill" class="emailField">
            <mat-label>Enter your email</mat-label>
            <input
              class="formField"
              formControlName="email"
              matInput
              placeholder="pat@example.com"
              required>
            <mat-error *ngIf="secondFormGroup.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
          </mat-form-field>

          <div class="verRow">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input
                [type]="hideFirst ? 'password' : 'text'"
                class="formField"
                formControlName="password"
                matInput>
              <mat-error *ngIf="secondFormGroup.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
              <button
                (click)="hideFirst = !hideFirst"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideFirst"
                mat-icon-button
                matSuffix>
                <mat-icon>{{hideFirst ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Enter password again</mat-label>
              <input
                #confirmPass
                [type]="hideConfirm ? 'password' : 'text'"
                class="formField"
                formControlName="confirmPassword"
                matInput>
              <mat-error
                *ngIf="secondFormGroup.get('confirmPassword').invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
              <button
                (click)="hideConfirm = !hideConfirm"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirm"
                mat-icon-button
                matSuffix>
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <small
              [appValidator]="!match && secondFormGroup.get('confirmPassword').valid"
              class="matchMessage"
              message="Check if passwords match and try again"></small>
          </div>
        </div>

        <div class="row">
          <button
            mat-button
            matStepperPrevious
          >Back
          </button>
          <button
            (click)="checkPass(secondFormGroup, stepper)"
            [disabled]="secondFormGroup.invalid"
            mat-button
          >Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are almost done. If you are ready to go click 'create' button.</p>
      <p>If you would like to fill form from the beginning click 'reset' button.</p>
      <div class="row">
        <button
          mat-button
          matStepperPrevious
        >Back
        </button>
        <button
          (click)="stepper.reset()"
          mat-button
        >Reset
        </button>
        <button
          (click)="signUpNewUser()"
          [disabled]="firstFormGroup.invalid || secondFormGroup.invalid"
          mat-button
        >Create
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
