.mountains {
  background: url("/assets/images/m_1.png") center / cover no-repeat;
  min-height: calc(100vh - 80px);
  padding-top: 80px;

  .loginBtn {
    margin: 50px;
  }

  mat-horizontal-stepper {
    background-color: rgba(222, 222, 222, 0.5);
    color: grey;
    max-width: 800px;
    margin: 0 auto;

    ng-template {
      color: grey;
    }

    .row {
      margin: 20px;
      display: flex;
      justify-content: space-around;

      .emailField {
        align-self: center;
      }
    }

    .verRow {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .centerPosition {
      display: flex;
      justify-content: center;
    }

    .formField {
      min-width: 230px;
    }

    .matchMessage {
      padding-left: 11px;
      margin-top: -18px;
    }

  }
}
