<div class = "page">
  <div class="welcomeMessage">
    <h1>Welcome to the Travel community </h1>
    <p>Scroll page to continue exploring</p>
  </div>
  <div class="parallax">
    <div
      appTransformDirective
      elementType="bg"
      class="parallax__mountain parallax__mountain_1"
    ></div>
    <div
      appTransformDirective
      elementType="rightM"
      class="parallax__mountain parallax__mountain_2"
    ></div>
    <div
      appTransformDirective
      elementType="leftM"
      class="parallax__mountain parallax__mountain_3"
    ></div>
    <div
      appTransformDirective
      elementType="fog"
      class="parallax__fog"
    ></div>
  </div>
  <div class="container">
    <app-login-page></app-login-page>
  </div>
</div>
